main {
    min-height: 800px;
    background: #F6E7D8;
    background: -moz-linear-gradient(45deg, #F6E7D8 0%, #F68989 100%);
    background: -webkit-linear-gradient(45deg, #F6E7D8 0%, #F68989 100%);
    background: linear-gradient(45deg, #F6E7D8 0%, #F68989 100%);

}

main h2 {
    color: rgb(135, 67, 86);

    text-shadow: 0 -1px 4px #FFF, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 2px 2px rgba(206, 89, 55, 0);
    font-family: 'Arima', cursive;
}

main hr {
    color: rgb(135, 67, 86);
    background: rgb(135, 67, 86);
    height: 4px;
}

main .box img {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 800ms;
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}

main .box img:hover {
   transform: scale(1.1,1.1);
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
}

main .box h6 {
    color: rgb(135, 67, 86);
    text-shadow: 0 -1px 4px #FFF, 0 -18px 40px #F00, 2px 2px 2px rgba(206, 89, 55, 0);
}




.videos {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(198, 93, 123, 0.44), 5px 5px 9px 5px rgba(198, 93, 123, 0.44);
    min-height: 600px;
    background: rgb(246, 231, 216);
}

.videos h2 {
    color: rgb(135, 67, 86);

    text-shadow: 0 -1px 4px #FFF, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 2px 2px rgba(206, 89, 55, 0);
    font-family: 'Arima', cursive;
}

.videos hr {
    color: rgb(135, 67, 86);
    background: rgb(135, 67, 86);
    height: 4px;
}

.videos .row iframe {
    border-radius: 30px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.videos .row iframe:hover {
    /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(198, 93, 123, 0.44), 5px 5px 9px 5px rgba(198, 93, 123, 0.44); */
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}